node_modules
.idea
/bin
/target
*.component
*.prefs
*.component
*.classpath
.classpath
*.log
/.settings
.metadata
.project
/WebContent
/build
/build/
/target
bower_components
src/main/webapp/public
mydb.lck
mydb.properties
src/main/resources/public/
client/build/
/mydb.script
.externalToolBuilders/
